<div id="message">
  <a class="dropdown-item col-12" href="#"> 
    <%= message.msg %>
       <%= link_to  t('lot.delete'), message_path(message),class: "badge badge-dark",  method: :delete %>  
  </a>
</div>