 <%= bootstrap_form_for [@commentable, @comment] do |f| %>
  <%= f.hidden_field :parent_id %>
    <p>
      <%= f.text_area :msg, hide_label: true, placeholder: "Leave a comment..." %>
      <br/>
      <%= f.submit 'OK' %>
    </p>
<% end %>