<% if @searching.present? %>
 	<div class='row'>
		<%= render @searching[:lots] %>
	</div>
	<div class='row'>
		<%= render @searching[:current_bargains] %>
	</div>
 	<div class='row'> 	
		<%= render @searching[:main_news] %>
	</div>
<% else %>
	<h1> Ups </h1>
<% end %>