<span class='m-2 row badge'><%= t 'result_searching'%></span>
<% if @filter_lot.empty? %>
  <p> <%= t 'without_result' %> </p>
<% else %>
  <div class="card-columns">
    <%= render @filter_lot %>
  </div>
<% end %>
