<div class="col-lg-12">
    <div class="row m-2">
        <%= render  @current_bargain %>
    </div>
    <%= will_paginate @current_bargain , renderer: 'BootstrapPaginationHelper::LinkRenderer'  %>
</div>
