<div class= "row">
	<div class="col-lg-9 mt-1">
		<div class="row">
			<%= render @lots %>
		</div>
		<%= will_paginate @lots, renderer: 'BootstrapPaginationHelper::LinkRenderer'  %>
	</div>
	<div class= "mt-1 col-lg-3">
		<% if show_filter?%>	
			<%= render 'filter' %>
		<%end%>
	</div>
</div>

