<div class= "row">
	<div class="col-lg-9 p-1">
		<div class="row m-2">
			<%= render @lots %>
		</div>
		<%= will_paginate @lots, renderer: 'BootstrapPaginationHelper::LinkRenderer'  %>
	</div>
	<div class= "col-lg-3">
		<%= render 'filter' %>
	</div>
</div>
