<div class= "row">
	<div class="col-lg-9 p-1">
		<div class="card-columns m-1">
			<div class="card-desk">
				<%= render @lots %>
			</div>
		</div>
		<%= will_paginate @lots, renderer: 'BootstrapPaginationHelper::LinkRenderer'  %>
	</div>
	<div class= "col-lg-3">
		<%= render 'filter' %>
	</div>
</div>
