<div class="col-lg-9">
    <%= render 'filter' %>
    <%= link_to t('advanced_search'), new_filter_lot_path, class:'badge'%>
    <div class="card-columns">
     <%= render @lots %>
    </div>
    <%= will_paginate @lots, renderer: 'BootstrapPaginationHelper::LinkRenderer'  %>
</div>

